* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 25px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input {
  font-family: inherit;
  margin-top: 10px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.light {
  color: #fff;
}

.dark {
  color: #000;
}
